

<br>
<h5 style="text-align: center;">Task List</h5> <br>


<div class="task-list">
    <ul>
      <li *ngFor="let task of taskList" [class.completed]="task.completed">
        <input type="checkbox" [(ngModel)]="task.completed" />
        <span [class.completed-task]="task.completed">{{ task.title }}</span>
      </li>
    </ul>
  </div>
  






  
  <!-- 
<div>
    <p-table [value]="taskList" [tableStyle]="{ 'min-width': '50rem'}">

        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Done or Not</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ts>
            <tr>
                <td>{{ ts.id }}</td>
                <td>{{ ts.title }}</td>
                <td>{{ ts.completed }}</td>
                <input type="checkbox">
               </tr>
        </ng-template>
    </p-table>
</div> -->
